.webfont {
    padding : 20px;
}

.webfont .selector form {
    display : inline-block;
}

.webfont .symbol-list {
    margin-top : 30px;
}

.webfont .symbol-list .li {

}

.webfont .symbol-list li svg {
    width  : 100%;
    height : 30px;
}